[*.{cs,vb}]
#### Fuck these
dotnet_diagnostic.IDE0306.severity = none
dotnet_diagnostic.IDE0028.severity = none
dotnet_diagnostic.IDE0042.severity = none
dotnet_diagnostic.IDE0090.severity = none
dotnet_diagnostic.IDE0057.severity = none
dotnet_diagnostic.IDE0300.severity = none
dotnet_diagnostic.IDE0290.severity = none
####

#### Can leave this off usually
# rEmOvE uNeCcEsSaRy SuPrEsSiOn
dotnet_diagnostic.IDE0079.severity = none
# using statement can be simplified
dotnet_diagnostic.IDE0063.severity = none
# Namespace should match folder structure
dotnet_diagnostic.IDE0130.severity = none
####

dotnet_diagnostic.IDE0001.severity = none
dotnet_diagnostic.IDE0002.severity = none
dotnet_diagnostic.IDE0003.severity = none
dotnet_diagnostic.IDE0305.severity = none
dotnet_diagnostic.IDE0005.severity = none
dotnet_diagnostic.IDE0052.severity = none
dotnet_diagnostic.IDE0047.severity = none
dotnet_diagnostic.IDE0059.severity = none
dotnet_diagnostic.IDE0051.severity = none
dotnet_diagnostic.IDE0301.severity = none
dotnet_diagnostic.IDE0044.severity = none
dotnet_diagnostic.IDE0270.severity = none
dotnet_diagnostic.IDE0037.severity = none
dotnet_diagnostic.IDE0060.severity = none

dotnet_diagnostic.CS0219.severity = none
dotnet_diagnostic.CS0168.severity = none
dotnet_diagnostic.CS8321.severity = none
dotnet_diagnostic.CS0414.severity = none
dotnet_diagnostic.CS0067.severity = none

#### Performance rules, definitely check before finishing,
#### just annoying to code with them on
dotnet_diagnostic.CA1822.severity = none
dotnet_diagnostic.CA1862.severity = none
dotnet_diagnostic.CA1861.severity = none
dotnet_diagnostic.CA1806.severity = none
dotnet_diagnostic.CA1869.severity = none
dotnet_diagnostic.CA1834.severity = none
dotnet_diagnostic.CA2208.severity = none
dotnet_diagnostic.CA1416.severity = none
dotnet_diagnostic.CA0169.severity = none
dotnet_diagnostic.CA2211.severity = none
dotnet_diagnostic.CA2249.severity = none
####

#### Check these to make sure, but normally just annoying
# Non nullable when exiting constructor
dotnet_diagnostic.CS8618.severity = none
csharp_style_unused_value_expression_statement_preference = unused_local_variable
####

# IDE0058: Expression value is never used
#
